@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
:root {
  --color-primary: #fff;
  --color-primary-alt: #000;
  --color-secondary: #ff00ac;
  --color-background: #8f00ff;
  --color-text: #000;
  --color-light: #fff;
  --color-anchor: #000;
  --font-family: "Krona One", sans-serif;
  --font-weight-strong: 800;
  --font-size-h1: 4rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 5vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(1rem, 4vw, var(--font-size-h2));
}

#main h2 {
  color: var(--color-secondary);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

header {
  display: grid;
  place-items: center;
  padding: 10vh 2rem;
  color: var(--color-primary);
}

header .container {
  max-width: 80ch;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-primary-alt);
  text-decoration: none;
}

p a,
li a {
  text-decoration: underline;
}
p a:hover,
li a:hover {
  text-decoration: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

nav {
  width: 100%;
  padding: 4vh 2rem;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-primary);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-strong);
}
nav ul a::after {
  width: 0;
  height: 0.33em;
  background-color: var(--color-secondary);

  transition: all 0.5s;
  content: "";
}
nav ul a:hover::after,
nav ul a:focus::after {
  width: 100%;
  color: var(--color-secondary);
}
nav ul li {
  margin: 0 0.5rem 0 0;
}

a.button,
button.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  padding: 0.3em 1.25em;
  min-width: 10ch;
  min-height: 3rem;

  text-align: center;
  line-height: 1.1;

  transition: all 0.5s;
}

a.button:hover,
button.button:hover {
  padding-left: 2em;
}
